<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lecturer.name %>
</p>

<p>
  <b>Last name:</b>
  <%= @lecturer.last_name %>
</p>

<p>
  <b>Age:</b>
  <%= @lecturer.age %>
</p>

<p>
  <b>Profile:</b>
  <%= @lecturer.profile %>
</p>

<p>
  <b>Foto:</b>
  <%= @lecturer.foto %>
</p>

<p>
  <b>Tenant:</b>
  <%= @lecturer.tenant %>
</p>


<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
